atomicwrites==1.1.5
attrs==18.1.0
certifi==2018.8.13
chardet==3.0.4
Django==2.2.24
djangorestframework==3.8.2
funcsigs==1.0.2
httpie==0.9.9
idna==2.7
more-itertools==4.3.0
pathlib==1.0.1
pathlib2==2.3.2
pluggy==0.7.1
py==1.5.4
Pygments==2.2.0
pytest==3.7.2
pytest-django==3.4.1
pytz==2018.5
requests==2.19.1
scandir==1.9.0
six==1.11.0
urllib3==1.23
